/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-fraunces: "Fraunces", serif;
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --font-size: .875rem;
}

/* Layout */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Card */

.card {
    max-width: 40rem;
    background-color: var(--white);

    display: flex;
}

.card-image-desktop {
    max-width: 50%;
    height: auto;
}

.card-image-mobile {
    display: none;
}

.text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 1.25rem;
    width: 50%;
}

.text-price {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* Mobile */

@media (max-width: 768px) {
    .card-image-desktop {
        display: none;
    }

    .card-image-mobile {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .card {
        flex-direction: column;
        max-width: 20rem;
    }

    .text-group {
        width: unset;
    }
}