/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-fraunces: "Fraunces", serif;
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --font-size: .875rem;
}

/* Layout */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Card */

.card {
    max-width: 40rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    display: flex;
    box-shadow: 0 14px 20px 0 hsl(0deg 0% 0% / 3%);
}

/* Image */

.card-image-desktop {
    max-width: 50%;
    height: auto;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-image-mobile {
    display: none;
}

/* Text */

.text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 1.25rem;
    width: 50%;
}

.text-group .text-type {
    font-family: var(--font-montserrat);
    color: var(--grey);
    font-weight: 500;
}

.text-group .text-description {
    color: var(--grey);
    font-family: var(--font-montserrat);
    font-weight: 500;
    line-height: 1.6;
}

.text-group h1 {
    font-family: var(--font-fraunces);
    color: var(--black);
    white-space: break-spaces;
}

.text-price {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.text-price h2 {
    font-size: 2rem;
    font-family: var(--font-fraunces);
    color: var(--green-500);
}

.text-price p {
    font-family: var(--font-montserrat);
    font-size: var(--font-size);
    color: var(--grey);
    font-weight: 600;
    text-decoration: line-through;
}

/* Button */

.card-button {
    padding: 0.9rem;
    width: 95%;
    background-color: var(--green-500);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-family: var(--font-montserrat);
    font-weight: 600;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.card-button:hover {
    background-color: var(--green-700);
}

/* Attribution */

.attribution {
    font-size: .875rem;
    text-align: center;
    color: var(--black);
    font-family: var(--font-montserrat);
    font-weight: 500;
    margin-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile */

@media (max-width: 48rem) {
    .card-image-desktop {
        display: none;
    }

    .card-image-mobile {
        display: block;
        max-width: 100%;
        height: auto;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .card {
        flex-direction: column;
        max-width: 20rem;
    }

    .text-group {
        width: unset;
        gap: 1rem;
    }

    .text-group h1 {
        white-space: unset;
    }

    main {
        padding: 2rem 0;
    }
}